h3{
    background-color: aquamarine;
    margin-top: 50px;
    border: 13px solid grey;
    border-radius: 50px;
    border-left: 30px solid darkmagenta;
    border-right: 30px solid darkmagenta;
}
.heading{background-color: blue;
margin: 30px 20px;
padding: 50px 40px;
}
#first{ color: aqua;}
.mydiv{
    background-color: beige;
    padding: 50px 70px;
}
.myimg{
    width: 300px;
    height: 150px;
}
.myhead{
    display: inline;
}